.setup-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
}

.setup-item-title {
    margin-right: 40px;
}

.setup-item-input {
    border-radius: 4px;
    padding: 10px;
    flex: 1;
    max-width: 204px;
    background-color: #F6F7F9;
    outline: none;
    border: none;
    cursor: pointer;

}