.btn-container {
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease;
}

.btn-1 {
    margin-right: 24px;
    background-color: #ddd;
}

.btn-1:hover {
    background-color: #bdbdbd;
}

.btn-2 {
    background-color: #62E5C5;
    color: white;
}

.btn-2:hover {
    background-color: #48ae95;
}


.btn {
    padding: 12px 32px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}