.membership-container {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    justify-content: space-between;

}

.mambership-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 204px;

}

.membership-title {
    margin-right: 40px
}

.membership-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
}

.membership-icon {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #353A34;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 18px;
    background-color: transparent;

}

.membership-action-text {
    margin-left: 8px;
    font-size: 12px;

}