.gender-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
}

.gender-title {
    margin-right: 40px;
}

.gender-btn-container {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex: 1;
    max-width: 224px;
}

.gender-icon {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: #353A34;
}

.gender-btn-container-text {
    margin-left: 16px;
    text-align: center;
}

.gender-singlebtn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}